@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Funnel Sans', sans-serif;
  color: #6B4E4F;
  background: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bricolage Grotesque', sans-serif;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}